@import 'bootstrap/dist/css/bootstrap.min.css';

body{
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(235,222,156,1) 36%, rgba(255,255,255,1) 100%);
  min-height: 100vh;
}
.conteudo {
  height: auto !important
}